<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
        <img src="assets/pic/0.jpg" class="img-slider"/>
        </div>
        <div class="swiper-slide">
            <img  src="assets/pic/1.jpg" class="img-slider"/>    
        </div>
        <div class="swiper-slide">
            <img src="assets/pic/2.jpg" class="img-slider"/>
        </div>
        <div class="swiper-slide">
            <img src="assets/pic/3.jpg" class="img-slider"/>
        </div>
        <div class="swiper-slide">
            <img src="assets/pic/4.jpg" class="img-slider"/>
        </div>
      
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div>
</div> -->
